yfinance==0.2.54
streamlit
requests
streamlit-autorefresh
pytz
pandas
numpy
tabulate
streamlit-extras
matplotlib
seaborn
nest_asyncio
newsapi-python
kaleido
scipy
seaborn
nest_asyncio
beautifulsoup4
plotly
holidays
streamlit-aggrid
