yfinance==0.2.57
streamlit
requests
streamlit-autorefresh
pytz
pandas
numpy
tabulate
streamlit-extras
matplotlib
seaborn
nest_asyncio
newsapi-python
kaleido
scipy
beautifulsoup4
plotly
holidays
streamlit-aggrid
appdirs==1.4.4
curl-cffi
